<h4> Stack Overflow Clone </h4>
<%= link_to 'Register.', new_user_path %>
<br>
<%= link_to 'Sign in.', log_in_path %>
<br>
<%= link_to 'Sign out.', log_out_path %>

<ul>
  <% @questions.each do |question| %>
  <li>
    <%= link_to question.title, question_path(question) %>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Enter a New Question', new_question_path %>
</p>
